.naver{
    width: 100px;
    aspect-ratio: 1 / 1;
    background: #80808000;
    border: 0px;
}

.here{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

#nickName-input{
    display: flex;
    justify-content: center;
}

body{
    margin: 17%;
}