.naver{
    width: 100px;
    aspect-ratio: 1 / 1;
    background: #80808000;
    border: 0px;
}

.here{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

#nickName-input{
    display: flex;
    justify-content: center;
}

.headerButton{
    border: none;
    background-color: black;
    color: white;
    height: 75px;
    border-radius: 35px;
    width: 130px;
    margin: 5px 10px 0 10px;
}

.headerdiv{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

body{
    background-color: black;
}

p{
    color: white;
}