body {
    background-color: black;
    margin: 0 15% 0 15%;
}

p {
    color: white;
}

.naver {
    width: 100px;
    aspect-ratio: 1 / 1;
    background: #80808000;
    border: 0px;
}

.notFoundNickName {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

#nickName-input {
    display: flex;
    justify-content: center;
}

.headerButton {
    border: none;
    background-color: black;
    color: white;
    height: 75px;
    border-radius: 35px;
    width: 130px;
    margin: 5px 10px 0 10px;
}

.headerdiv {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.searchinfo {
    min-width: 836px;
    border-radius: 67px;
}

.btn {
    color: black;
    left: 93%;
    bottom: 49%;
}

.idinput {
    width: 100%;
    height: 50px;
    border-radius: 67px;
    padding: 30px;
    filter: drop-shadow(0 3px 4px rgb(0, 255, 13)) drop-shadow(0 3px 3px rgba(0, 255, 13))
        drop-shadow(0 1px 8px rgba(0, 255, 13)) drop-shadow(0 -2px 2px rgba(0, 255, 13));
}

/* 숨김 처리 */
.hide{
    display:none !important
}

/* 평가 버튼 */
.goodManners{
    filter: drop-shadow(0 3px 4px #00ff0d) drop-shadow(0 3px 3px rgba(0, 255, 13))
    drop-shadow(0 1px 8px rgba(0, 255, 13)) drop-shadow(0 -2px 2px rgba(0, 255, 13));
    width: 39%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #000000; /* 버튼 테두리 색상 */
    color: #000000; /* 버튼 텍스트 색상 */
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease; /* 부드러운 애니메이션 효과 */
    border-radius: 5px; /* 둥근 모서리 */
    outline: none; /* 기본 테두리 제거 */
}

.goodManners:hover {
    background-color: #00ff0d; /* 마우스 오버 시 배경색 */
    color: white; /* 마우스 오버 시 텍스트 색상 */
}

.badManners{
    filter: drop-shadow(0 3px 4px rgb(255, 0, 0)) drop-shadow(0 3px 3px rgba(255, 0, 0))
    drop-shadow(0 1px 8px rgba(255, 0, 0)) drop-shadow(0 -2px 2px rgba(255, 0, 0));
    width: 39%;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #000000; /* 버튼 테두리 색상 */
    color: #000000; /* 버튼 텍스트 색상 */
    padding: 10px 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease; /* 부드러운 애니메이션 효과 */
    border-radius: 5px; /* 둥근 모서리 */
    outline: none; /* 기본 테두리 제거 */
}

.badManners:hover {
    background-color: #ff0000; /* 마우스 오버 시 배경색 */
    color: white; /* 마우스 오버 시 텍스트 색상 */
}

.checkMannerBtn{
    margin: 15px 0 20px 0;

}

/* 유저 정보 테이블 */
.allUserInfo{
    width: 24%;
}

.userAllMatchInfo{
    min-width: 1019px;
    background: white;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 18px;
    margin-bottom: 350px;
}

.userInfoPage{
    display: flex;
}

/* 매치 정보 리스트 각각 */
.search-result{
    padding: 25px;
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(34, 197, 94, 0.5); /* 기본 배경색 */
    transition: background-color 0.3s ease; /* 부드러운 색상 전환 효과 */
    border-radius: 20px;
}

.search-result.win {
    background-color: rgba(34, 197, 94, 0.15); /* 승리 시 기본 색상 */
}

.search-result.lose {
    background-color: rgba(239, 68, 68, 0.15); /* 패배 시 기본 색상 */
}

.search-result.draw {
    background-color: rgba(156, 163, 175, 0.15); /* 무승부 시 기본 색상 (회색) */
}

.search-result.more-list-btn {
    background-color: rgba(255, 255, 255, 0.462); 
}

.search-result:hover {
    background-color: rgba(34, 197, 94, 0.8); /* 승리 시 호버 상태 색상 */
}

.search-result.lose:hover {
    background-color: rgba(239, 68, 68, 0.8); /* 패배 시 호버 상태 색상 */
}

.search-result.draw:hover {
    background-color: rgba(156, 163, 175, 0.8); /* 무승부 호버 색상 (짙은 회색) */
}

.search-result.more-list-btn:hover {
    background-color: rgba(255, 255, 255, 0.6); 
}

.nickname-score{
    color: white;
}

.date-name-score-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showUserRandomPhoto{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.playPhoto{
    width: 160px;
}

.name-container {
    padding: 20px;
}

#player-name {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.winRate{
    background-color: rgb(0, 0, 0) !important;
    display: flex;
    flex-direction: row;
}

.winRate:hover{
    background-color: rgb(0, 0, 0) !important;
}

.search-result.winRate {
    position: relative;
    width: 969px;  /* 원하는 너비 */
    height: 250px; /* 원하는 높이 */
}
#winRateChart {
    width: 100%;  /* 부모 요소에 맞추어 크기 조정 */
    height: 100%; /* 부모 요소에 맞추어 크기 조정 */
}
.winRateNumber {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
    pointer-events: none; /* 클릭 이벤트 방지 */
}