@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.modal{
    --bs-modal-width: 810px;
}

.modal-content{
    background-color: rgba(0, 0, 0, 0.9);
    width: 950px;
}

.modal-title{
    color: white;
}

.modal-header .btn-close {
    --bs-btn-close-color: white;
    color: white;
    font-size: 38px;
    position: absolute;
    right: 12px;
    top: 0px;
}

.modal-header{
    border-bottom: var(--bs-modal-header-border-width) solid #3b3d3f !important;
}

.scoreSpan{
    color: white;
    position: relative;
}

.modal-body canvas {
    width: 19% !important;
    aspect-ratio: 1 / 1 !important;
    height: 33% !important;
    margin-left: 8%;
    margin-right: 8%;
}

.chart{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px;
}

.chart-p{
    width: 33.3%;
    text-align: center;
}

.chart-name-div{
    display: flex;
    justify-content: center;
}

.possesseionPercentage{
    color: white;
    position: absolute;
    top: 146px;
    left: 151px;
}

.shootPercentage{
    color: white;
    position: absolute;
    top:  146px;
}

.passPercentage{
    color: white;
    position: absolute;
    top:  146px;
    right: 151px;
}

.detail-score{
    display: flex;
    justify-content: center;
    font-family: 'SUIT-Regular';
    font-size: 26px;
    text-align: center;
}

