@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.modal {
    --bs-modal-width: 810px;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    width: 950px;
}

.modal-title {
    color: white;
    margin-right: 4%;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.modal-header .btn-close {
    --bs-btn-close-color: white;
    color: white;
    font-size: 38px;
    position: absolute;
    right: 12px;
    top: 0px;
}

.modal-header {
    border-bottom: var(--bs-modal-header-border-width) solid #3b3d3f !important;
}

.scoreSpan {
    color: white;
    position: relative;
}

.modal-body canvas {
    width: 19% !important;
    aspect-ratio: 1 / 1 !important;
    height: 33% !important;
    margin-left: 8%;
    margin-right: 8%;
}

.chart {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px;
}

.chart-p {
    width: 33.3%;
    text-align: center;
}

.chart-name-div {
    display: flex;
    justify-content: center;
}

.possesseionPercentage {
    color: white;
    position: absolute;
    top: 146px;
    left: 151px;
}

.shootPercentage {
    color: white;
    position: absolute;
    top: 146px;
}

.passPercentage {
    color: white;
    position: absolute;
    top: 146px;
    right: 151px;
}

.detail-score {
    display: flex;
    justify-content: center;
    font-family: 'SUIT-Regular';
    font-size: 26px;
    text-align: center;
}

.matchInfoClass {
    border-bottom-color: #000000ab;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    padding: 8px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 900;
}

.win {
    color: rgba(34, 197, 94, 0.8);
    /* 승리 시 호버 상태 색상 */
    border-bottom-color: rgb(34, 197, 94, 0.8);
}

.lose {
    color: rgba(239, 68, 68, 0.8);
    /* 승리 시 호버 상태 색상 */
    border-bottom-color: rgb(239, 68, 68, 0.8);
}

.detail-click-tab {
    margin-right: 4%;
    opacity: 1;
    color: rgb(74, 222, 128) !important;
    /* 기본 텍스트 색상 */
    position: relative;
    /* 선의 위치를 조절하기 위해 상대 위치 설정 */
    transition: color 0.3s, border-bottom-color 0.3s;
    /* 색상과 선 색상 변화에 애니메이션 적용 */
    cursor: pointer;
    /* 클릭할 수 있는 요소임을 나타냄 */
}

.modal-title:focus,
.modal-title:hover,
.modal-title:active {
    color: rgb(74, 222, 128);
    /* 클릭 또는 호버 시 텍스트 색상 */
    border-bottom-color: rgb(74, 222, 128);
    /* 클릭 또는 호버 시 선 색상 */
    border-bottom-width: 2px;
    /* 선의 두께 */
}

.modal-member-tab:focus,
.modal-member-tab:hover,
.modal-member-tab:active {
    color: rgb(74, 222, 128);
    /* 클릭 또는 호버 시 텍스트 색상 */
    border-bottom-color: rgb(74, 222, 128);
    /* 클릭 또는 호버 시 선 색상 */
    border-bottom-width: 2px;
    /* 선의 두께 */
}

.modal-member-tab {
    color: white;
    margin-right: 4%;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}


/* 스쿼드 */
/* matchInfoModal.css */
.soccer-field {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 비율 유지 */
    background-color: green;
    border: 2px solid white;
    background: url('soccer-field.jpg') no-repeat center center;
    background-size: cover;
    margin-top: 20px;
    height: 664px;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.player:hover {
    transform: scale(1.1);
}

.squad-section {
    display: none;
    /* 초기에는 스쿼드 섹션을 숨김 */
}

/* 포지션별 위치 설정 */
/* Position styles */
.position-GK {
    top: 80%;
    left: 45%;
}

.position-SW {
    top: 60%;
    left: 20%;
}

.position-RWB {
    top: 60%;
    left: 25%;
}

.position-RB {
    top: 60%;
    left: 30%;
}

.position-RCB {
    top: 60%;
    left: 35%;
}

.position-CB {
    top: 60%;
    left: 40%;
}

.position-LCB {
    top: 60%;
    left: 45%;
}

.position-LB {
    top: 60%;
    left: 50%;
}

.position-LWB {
    top: 60%;
    left: 55%;
}

.position-RDM {
    top: 40%;
    left: 25%;
}

.position-CDM {
    top: 40%;
    left: 30%;
}

.position-LDM {
    top: 40%;
    left: 35%;
}

.position-RM {
    top: 40%;
    left: 45%;
}

.position-RCM {
    top: 40%;
    left: 50%;
}

.position-CM {
    top: 40%;
    left: 55%;
}

.position-LCM {
    top: 40%;
    left: 60%;
}

.position-LM {
    top: 40%;
    left: 65%;
}

.position-RAM {
    top: 20%;
    left: 45%;
}

.position-CAM {
    top: 20%;
    left: 50%;
}

.position-LAM {
    top: 20%;
    left: 55%;
}

.position-RF {
    top: 20%;
    left: 65%;
}

.position-CF {
    top: 20%;
    left: 70%;
}

.position-LF {
    top: 20%;
    left: 75%;
}

.position-RW {
    top: 20%;
    left: 80%;
}

.position-RS {
    top: 20%;
    left: 85%;
}

.position-ST {
    top: 20%;
    left: 90%;
}

.position-LS {
    top: 20%;
    left: 95%;
}

.position-LW {
    top: 20%;
    left: 100%;
}

/* test */
.test {
    color: white;
}